.landing-background {
	/* width: 100%;
	height: calc(100% - 50px);
	max-height: 100vh; */
	/* position: absolute; */
	/* background-color: rgba(50, 0, 0, 0.25); */
	/* top: 50px;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between; */
}

.hero-section {
	text-align: center;
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* .hero-content h1 {
	margin: 1rem;
} */

.hero-img {
	margin-top: 40px;
	border-radius: 50%;
	height: 200px;
	width: 200px;
}

.hero-content p {
	margin-bottom: 2rem;
}

.featured-section {
	margin-bottom: 40px;
}

.featured-section > div {
	margin: auto;
	padding: 0px 30px;
}

.featured-content {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
	max-width: 1500px;
	margin: auto;
}
