.annotation {
	transition: all 0.5s ease-in-out;
	box-shadow: inset 0 0 0 0.09px white;
	cursor: pointer;
	outline: none;
	border: none;
	font-size: 8px;
	font-weight: 300;
	background: indianred;
	color: whitesmoke;
	padding: 2px 10px;
	border-radius: 20px;
	letter-spacing: 1px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
}

.annotation:hover {
	box-shadow: inset 250px 0 0 0 white;
	color: black;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.graces-canvas {
	opacity: 0;
	touch-action: none;
	animation: fade-in 2s ease 0s forwards;
}

