.background h1 {
	font-size: 2.5rem;
	color: #a0a0a0;
	text-align: center;
}

.background input {
	border: 2px solid rgb(0, 0, 0);
	border-radius: 0.5rem;
}

.background input:focus {
	border: 2px solid rgb(22, 22, 22);
}

/* .breach-report-container {
	transition: transform 0.3s ease;
}

.breach-report-container:hover {
	transform: translateY(-10px);
} */

.breach-report-container {
	display: flex;
	flex-grow: 1;
	flex-wrap: wrap;
	justify-content: center;
}

.breach-report-container img {
	border-top-left-radius: 1.5rem;
	border-bottom-left-radius: 1.5rem;
	width: 280px;
	height: 280px;
}

.breach-report-container h3 {
	text-align: center;
}

.breach-report-container p {
	padding-top: 1rem;
}

.breach-report-container > div {
	display: flex;
	position: relative;
	width: 600px;
	margin: 2rem 2rem;
	border-radius: 1.5rem;
	background-color: rgb(53, 53, 53);
	text-decoration: none;
}

.breach-report-container > div > div {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding: 1rem;
}

/* 
.breach-report-container a:first-child {
	margin-top: 1rem;
} */

/* .breach-report-container a:last-child {
	margin-bottom: 1rem;
} */

.breach-report-container h3 {
	font-size: 2rem;
	color: #918f8f;
}
