.footer {
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: rgb(34, 34, 34);
	z-index: 1;
	height: 120px;
	position: relative;
	text-align: center;
}

.footer p {
	line-height: 2rem;
}

.footer-icon {
	transition: color 0.5s ease;
}

.footer-icon:hover {
	cursor: pointer;
	color: rgba(226, 10, 10, 0.671);
}

.footer div {
	display: flex;
	justify-content: space-evenly;
	max-width: 1000px;
	margin: auto;
}
