.footer {
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: rgb(34, 34, 34);
	z-index: 1;
	height: 100px;
	position: absolute;
}

.footer-icon:hover {
	transition: 0.5s;
	cursor: pointer;
	color: grey;
}
