/* Import desired fonts (google api) ex: */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=UnifrakturCook:wght@700&family=VT323&display=swap");

*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
	all: unset;
	display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/*
Remove list styles (bullets/numbers)
in case you use it with normalize.css
*/
ol,
ul {
	list-style: none;
}

/* For images to not be able to exceed their container */
img {
	max-width: 100%;
}

/* Removes spacing between cells in tables */
table {
	border-collapse: collapse;
}

/* Revert the 'white-space' property for textarea elements on Safari */
textarea {
	white-space: revert;
}

input[type="checkbox"] {
	appearance: checkbox;
}

input[type="radio"] {
	appearance: radio;
}

:root {
	font-family: Roboto, Oxygen, Ubuntu;
	line-height: 1.5;
	font-weight: 400;
	font-size: 62.5%;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	overflow: auto;

	/* Themes: */
	--base-background-color:  #071B2A;

	--panel-color: rgb(7, 27, 42);
	--panel-color-transparent: rgba(7, 27, 42, 0.75);
	--card-shadow: #05202C;

	--header-color: #418596;

	--primary-text-color: #E6E6E6;
	--secondary-text-color: #8A8F94;
	--h1-text-color:  #3BB6D5;
}

html,
body,
#root {
	width: 100%;
	height: 100%;
}

body {
	/* overflow: hidden; */

}

li,
p,
b,
i,
div,
span {
	font-size: 1.5rem;
	color: whitesmoke;
}

a:hover {
	color: rgba(226, 10, 10, 0.671);
	text-decoration: underline;
	cursor: pointer;
}

b {
	font-weight: bolder;
}

i {
	text-decoration: wavy;
}

.background {
	width: 100%;
	min-height: 100vh;
	height: 100%;
	position: relative;
	background-color: var(--base-background-color);
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0)), url("../src/assets/general/TUFF.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-top: 80px;
}

h1 {
	font-size: 3.5rem;
	padding: 1rem 0rem;
	font-weight: bolder;
	color: var(--primary-text-color);
	text-shadow: 0 0 6px rgba(59,182,213,0.4);
	text-align: center;
}

h2 {
	font-size: 3rem;
	color: var(--primary-text-color);
}

h3 {
	font-size: 3rem;
	color: var(--primary-text-color);
}

.background input {
	border: 2px solid rgb(0, 0, 0);
	border-radius: 0.5rem;
}

.background input:focus {
	border: 2px solid rgb(22, 22, 22);
}
