/* Import desired fonts (google api) ex: */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=UnifrakturCook:wght@700&family=VT323&display=swap");

*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
	all: unset;
	display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/*
Remove list styles (bullets/numbers)
in case you use it with normalize.css
*/
ol,
ul {
	list-style: none;
}

/* For images to not be able to exceed their container */
img {
	max-width: 100%;
}

/* Removes spacing between cells in tables */
table {
	border-collapse: collapse;
}

/* Revert the 'white-space' property for textarea elements on Safari */
textarea {
	white-space: revert;
}

input[type="checkbox"] {
	appearance: checkbox;
}

input[type="radio"] {
	appearance: radio;
}

:root {
	font-family: Roboto, Oxygen, Ubuntu;
	line-height: 1.5;
	font-weight: 400;
	font-size: 62.5%;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	overflow: auto;

	/* Themes: */
}

html,
body,
#root {
	width: 100%;
	height: 100%;
}

body {
	/* overflow: hidden; */
	background: black;
	background: radial-gradient(
		circle at bottom center,
		rgba(60, 60, 60, 1) 0%,
		rgba(0, 0, 0, 1) 58%
	);
}

li,
p,
b,
i,
div,
span {
	font-size: 1.5rem;
	color: whitesmoke;
}

a:hover {
	color: rgb(0, 255, 0);
}